<div class="navbar valign-wrapper">
    <div class="navbar-logo left">
        <a href="/"><img class="logo z-depth-1" src="/assets/img/android-chrome-192x192.png"/></a>
    </div>
    <div class="navbar-buttons">
        <a class="navbar-button dark-icon left" href="/">
            <img height="32" src="/assets/img/dark/home.png" width="32"/>
        </a>
        <a class="navbar-button light-icon left" href="/">
            <img height="32" src="/assets/img/light/home.png" width="32"/>
        </a>
        <a class="navbar-button dark-icon left" href="https://github.com/jprochazk">
            <img height="32" src="/assets/img/dark/github.png" width="32"/>
        </a>
        <a class="navbar-button light-icon left" href="https://github.com/jprochazk">
            <img height="32" src="/assets/img/light/github.png" width="32"/>
        </a>
        <a class="navbar-button dark-icon left" href="https://twitter.com/opfleyr">
            <img height="32" src="/assets/img/dark/twitter.png" width="32"/>
        </a>
        <a class="navbar-button light-icon left" href="https://twitter.com/opfleyr">
            <img height="32" src="/assets/img/light/twitter.png" width="32"/>
        </a>
        <!--<a class="navbar-button dark-icon left" href="https://twitch.com/moscowwbish">
            <img height="32" src="/assets/img/dark/twitch.png" width="32"/>
        </a>
        <a class="navbar-button light-icon left" href="https://twitch.com/moscowwbish">
            <img height="32" src="/assets/img/light/twitch.png" width="32"/>
        </a>-->
    </div>
    <div class="navbar-button right">
        <a class="dark-icon dark-button right"><img height="32" src="/assets/img/dark.png" width="32"></a>
        <a class="light-icon light-button right"><img height="32" src="/assets/img/light.png" width="32"></a>
    </div>
    <script src="/assets/js/colorscheme.js"></script>
</div>
