<div class="row">
    <div class="col s2 left">
        <img class="logo z-depth-2" src="/assets/img/android-chrome-192x192.png"/>
    </div>
    <div class="col s8 offset-s1">
        <div class="row">
            <ul class="navbar center">
                <li class="hoverable left">
                    <a class="btn-flat" href="/">
                        home
                    </a>
                </li>
                <li class="hoverable left">
                    <a class="btn-flat" href="https://github.com/jprochazk">
                        github
                    </a>
                </li>
                <li class="hoverable left">
                    <a class="btn-flat" href="https://twitter.com/opfleyr">
                        twitter
                    </a>
                </li>
                <li class="hoverable left">
                    <a class="btn-flat" href="https://twitch.com/moscowwbish">
                        twitch
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s1 valign-wrapper">
        <!-- Night Mode by Hea Poh Lin from the Noun Project -->
        <a class="dark-button right"><img height="32" src="/assets/img/dark-200x200.png" width="32"></a>
        <!-- Light Bulb by Molly Bramlet from the Noun Project -->
        <a class="light-button right"><img height="32" src="/assets/img/light-200x200.png" width="32"></a>
    </div>
    <script src="/assets/js/colorscheme.js"></script>
</div>
