* {
    overflow: hidden;
    overflow-x: auto;
}

.page-main {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

.logo-container {
    align-items: center;
    padding: 16px;
    width: 300px;
    height: 68px !important;
}
@media only screen and (min-width: 666px) {
    .logo-container {
        width: 400px;
        height: 136px !important;
    }
}
@media only screen and (min-width: 999px) {
    .logo-container {
        padding: 16px;
        width: 400px;
        height: 168px !important;
    }
}

.logo {
    background-image: url("/assets/img/android-chrome-192x192.png");
    background-size: contain;
    width: 64px;
    height: 64px;
    border: none;
    transition: transform 0.2s ease-in-out;
}
.logo:hover {
    transform: scale(0.9);
}

@media only screen and (min-width: 666px) {
    .logo {
        width: 96px;
        height: 96px;
    }
}
@media only screen and (min-width: 999px) {
    .logo {
        background-image: url("/assets/img/android-chrome-512x512.png");
        width: 128px;
        height: 128px;
    }
}

div.navbar {
    justify-content: space-evenly !important;
}

.center-align {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-btn {
    padding: 12px;
    font-size: 32px;
}

.btn {
    text-transform: initial !important;
    text-decoration: none;
    border: none;
    padding: 4px;
    margin: 4px;
}

.flat,
.flat:visited,
.flat:hover,
.flat:active {
    color: inherit !important;
}

.hover-shadow {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-in-out;
}
.hover-shadow:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}
