:root {
    --color-primary: white;
    --color-text: rgb(29, 29, 29);
    --color-link: rgb(29, 29, 29);
    --color-footer-bg: white;
    --color-footer-text: rgb(29, 29, 29);
    --color-box-shadow: rgba(0, 0, 0, 0.2);
}

* {
    overflow: hidden;
}

html {
    color: var(--color-text);
    background-color: var(--color-primary);
    overflow-x: auto;
}

.page-main {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
}

.logo {
    background-image: url("/assets/img/android-chrome-192x192.png");
    background-size: contain;
    width: 64px;
    height: 64px;
    border: none;
}
@media only screen and (min-width: 666px) {
    .logo {
        width: 96px;
        height: 96px;
    }
}
@media only screen and (min-width: 999px) {
    .logo {
        background-image: url("/assets/img/android-chrome-512x512.png");
        width: 128px;
        height: 128px;
    }
}

.logo-container {
    display: flex;
    text-align: center;
    align-items: center;
}

.btn-flat {
    color: var(--color-link) !important;
    border-radius: 6px !important;
}

div.navbar {
    justify-content: space-evenly !important;
}

.center-align {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-btn {
    padding: 12px;
    font-size: 32px;
}

.remove-text-transform {
    text-transform: initial !important;
}

.list-container {
    width: auto;
}
