<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- Mobile -->
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171847211-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-171847211-1");
        </script>
        <!-- Author -->
        <title>
            Jan Procházka
            {% if title != null %}
                |
            {% endif %}
            {{ title }}
        </title>
        <link href="humans.txt" rel="author"/>
        <!-- Favicon -->
        <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
        <link href="/assets/img/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
        <link href="/assets/img/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
        <link href="/site.webmanifest" rel="manifest"/>
        <!-- Stylesheets -->
        <link href="/assets/css/roboto.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/material-icons.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/materialize.min.css" media="screen,projection" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/highlight.css" rel="stylesheet" type="text/css"/>
        <link href="/assets/css/materialize-override.css" rel="stylesheet" type="text/css"/>
        <!-- Scripts -->
        <script src="/assets/js/materialize.min.js"></script>
        <script defer src="/assets/js/div-link.js"></script>
    </head>
    <body>
        <div class="container page">
            <header class="page-header">
                <div class="container">
                    {% include navbar.html %}
                </div>
            </header>
            <main class="page-main">
                {{ content }}
            </main>
            <footer class="container page-footer">
                {% include footer.html %}
            </footer>
        </div>
    </body>
</html>
